:root {
    --bgcolor: rgba(96, 83, 83, 0.51);
    --textcolor: rgb(255,191,0);
}

body {
    background-image: url("../img/index/bg.jpg");
    overflow: hidden;
}

.navlink {
    text-decoration: none;
    color: var(--textcolor);
    font-size: 30px;
}

#navlist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
}

.navbar {
    background-color: var(--bgcolor);
    border-radius: 15px;
    width: 370px;
    border: 2px solid rgb(0, 0, 0, 0.5);
}

.oldalsav {
    position: absolute;
    height: 1100px;
    width: 390px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--bgcolor);
    text-align: center;
    backdrop-filter: blur(10px);
}

table {
    border: 3px solid rgb(191,155,48);
    text-align: center;
    border-collapse: collapse;
    width: 370px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.tablelink {
    text-decoration: none;
    color: rgb(239, 234, 220);
}

th, td {
    border: 2px solid var(--textcolor);
    color: var(--textcolor);
}