:root {
    --bgcolor: rgba(96, 83, 83, 0.51);
}

body {
    background-image: url("../img/index/bg.jpg");
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(255,191,0);
    font-size: 30px;
}

#navlist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
}

.navbar {
    background-color: var(--bgcolor);
    border-radius: 15px;
    width: 370px;
    border: 2px solid rgb(0, 0, 0, 0.5);
}

.oldalsav {
    position: absolute;
    height: 1100px;
    width: 390px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--bgcolor);
    text-align: center;
    backdrop-filter: blur(10px);
}

.szoveg {
    position: absolute;
    margin-top: -60px;
    margin-left: 420px;
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255,220,115);
    font-size: xx-large;
    border-radius: 15px;
    padding: 10px;
}

#megfogalmazas {
    color: rgb(211, 175, 68);
}

dt {
    color: rgb(186, 144, 17)
}

dd {
    margin-bottom: 10px;
}