:root {
    --bgcolor: rgba(96, 83, 83, 0.51);
}

body {
    font-size: larger;
    overflow: hidden;
    background-image: url("../img/index/bg.jpg");
    /* font-family: system-ui,  Arial, sans-serif, monospace; */
}

a {
    text-decoration: none;
    color: rgb(255,191,0);
    font-size: 30px;
}

#navlist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px;
}

.navbar {
    background-color: var(--bgcolor);
    border-radius: 15px;
    width: 370px;
    border: 2px solid rgb(0, 0, 0, 0.5);
}

h1 {
    margin-top: 100px;
    color: rgb(255,191,0);
}

#szoftvermernok {
    color: rgb(191,155,48);
}

.oldalsav {
    position: absolute;
    height: 1100px;
    width: 390px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: var(--bgcolor);
    text-align: center;
    backdrop-filter: blur(10px);
}

.oneletrajz {
    padding: 50px;
    margin: 20px auto;
    margin-left: 800px;
    margin-top: -60px;
    width: 560px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50px;
    color: rgb(255,220,115);
    backdrop-filter: blur(10px);
}

img {
    width: 350px;
    border-radius: 10px;
}

hr {
    width: 550px;
    text-align: left;
    border-width: 2px;
    margin-left: 0px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}

thead {
    background-color: rgb(255,191,0);
}

th, td {
    border: 2px solid black;
    padding: 4px 6px;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(191,155,48); 
}

tbody > tr:nth-last-of-type(2) {
    background-color: rgb(255,220,115);
}

tbody > tr:nth-last-of-type(4) {
    background-color: rgb(255,220,115);
}

@media (max-width: 1400px) {
    .oneletrajz {
        margin: 20px auto;
        margin-left: 600px;
        margin-top: -60px;
    }
}

@media (max-width: 1200px) {
    .oneletrajz {
        margin: 20px auto;
        margin-left: 400px;
        margin-top: -60px;
    }
}

@media (max-width: 992px) {
    .oneletrajz {
        margin: 20px auto;
        margin-left: 250px;
        margin-top: -60px;
        width: 620px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    table {
        display: none;
    }

    h1 {
        text-align: left;
    }

    .navbar {
        width: 235px;
    }

    .oldalsav {
        width: 250px;
    }

    hr {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .oneletrajz {
        margin-top: -60px;
        padding-left: 20px;
        width: 400px;
    }

    hr {
        width: 400px;
    }
}

@media (max-width: 576px) {
    .oldalsav {
        height: 1200px;
    }
}