body {
    font-size: larger;
    background-color: rgb(225, 225, 160);
    overflow: hidden;
    /* font-family: system-ui,  Arial, sans-serif, monospace; */
}

a {
    text-decoration: none;
    color: aqua;
}

#navlist {
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    width: 370px;
}

h1 {
    margin-top: 70px;
}

.oldalsav {
    position: fixed;
    height: 1500px;
    width: 390px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: rgba(255, 0, 0, 0.51);
    text-align: center;
}

.oneletrajz {
    padding: 50px;
    margin: 20px auto;
    margin-left: 800px;
    width: 560px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 50px;
    color: yellow;
}

img {
    width: 350px;
}

hr {
    width: 550px;
    text-align: left;
    border-width: 2px;
    margin-left: 0px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}

thead {
    background-color: rgb(205, 217, 250);
}

th, td {
    border: 2px solid black;
    padding: 4px 6px;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(205, 217, 250); 
}

@media (max-width: 770px) {
    table {
        visibility: hidden;
    }

    h1 {
        text-align: left;
    }

    .navbar {
        width: 235px;
    }

    .oldalsav {
        width: 250px;
    }

    .oneletrajz {
        margin-left: 250px;
    }

}